/*  ART SHOP for LTAW
    Made by Felipe Sandoval.
*/

@font-face {
  font-family: title;
  src: url("futurist.TTF");
}

@font-face {
  font-family: titleSpecial;
  src: url("Hasthon.ttf");
}

body {
  font-size: 100%;
  background-image: linear-gradient(180deg, #969ea0, #f5f5f5);
}

div.sticky {
 position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;
 width: 100%;
 background-color: black;
 opacity: 0.7;
}

.product{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerVideo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.DescriptionItem {
  font-family: title;
  color: black;
  text-align: center;
}

img.productItem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
}

p#footer {
  bottom: 0;
  text-align: center;
  font-family: titleSpecial;
}

img.ecom {
  position: absolute;
  top: 8%;
  right: 10%;
  width: 5%;
}

img#ecom1 {
  padding-right: 20%;
}

img#ecom2 {
  padding-right: 10%;
}

img#icon {
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
}

img#vert {
  width: 70%;
  height: auto;
}

img#sq {
  width: 70%;
  height: auto;
}

h1#mainTitle{
  font-family: titleSpecial;
  color: white;
  text-align: center;
  padding-right: 40px;
}

p#Description {
  font-family: title;
  color: black;
  text-align: center;
}

div.log{
  font-size: 140%;
  font-family: title;
  color: black;
  text-align: center;
}

div.factura{
  font-size: 140%;
  color: black;
  text-align: center;
}

span#user{
  color: red;
  text-transform: uppercase;
}

form#ToPay{
  font-size: 120%;
  text-align: center;
  font-family: titleSpecial;
}

input#comprar{
    align-items: center;
    background-color: #e62739;
    border: none;
    color: black;
    font-family: title;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

input#comprar:hover{
  opacity: 1;
  color: #e62739;
  background-color: black;
}

table{
 padding-bottom: 20px;
}
a.AddCart:hover{
  color: BLUE;
  font-size: 140%;
}

a.AddCart:active {
 color: purple;
 font-size: 140%;
}

a:link {
 color: black;
}

a:visited {
 color: black;
}

a:hover {
 color: red;
}

a:active {
 color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
