/*  CSS CHAT for LTAW.
    Made by Felipe Sandoval.
*/

@font-face {
  font-family: title;
  src: url("futurist.TTF");
}

@font-face {
  font-family: titleSpecial;
  src: url("Hasthon.ttf");
}

html {
  height: 100%;
}

body {
  font-size: 100%;
  background-image: linear-gradient(180deg, #969ea0, #f5f5f5);
  text-align: center;
}

h1#mainTitle{
  font-size: 200%;
  font-family: titleSpecial;
  color: black;
  text-align: center;
}

input#msg{
  align-items: center;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 4px solid black;
  border-radius: 5px;
  font-size: 14px;
}

input#msg:focus {
  border: 4px solid green;
}


button#send{
  align-items: center;
  background-color: #e62739;
  border: none;
  color: black;
  font-family: title;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

textarea#display{
  align-items: center;
  background: #22264b;
  color: #e8edf3;
  width: 84%;
  text-align: center;
  font-size: 18px;
  border: 4px solid #e62739;
}

p#footer {
  position: fixed;
  top: 90%;
  right: 40%;
  font-family: title;
  font-size: 90%;
}

span#user{
  color: #22264b;
  text-transform: uppercase;
}

button#send:hover{
  opacity: 1;
}

a:link {
 color: black;
}

a:visited {
 color: black;
}

a:hover {
 color: red;
}

a:active {
 color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
