<!--  ART SHOP for LTAW.
      Made by Felipe Sandoval.
-->

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BAZART XII</title>
    <link rel="stylesheet" href="/static/micss.css">
  </head>
  <body>
    <div class="sticky">
      <h1 id="mainTitle" style="font-size:6vw"> ART SHOP <h1>
      <a href="./index.html"><img class="ecom" id="ecom1" src="/static/home.png"></a>
      <a href="./list.html"><img class="ecom" id="ecom2" src="/static/cart.png"></a>
      <a href="./index.html"><img class="ecom" id="ecom3" src="/static/search.png"></a>
    </div>
    <img class="productItem" src="/static/art12.jpg">
    <div class="DescriptionItem">
        <p id="DescriptionItem" style="font-size:1.4vw">BAZART XII</p>
        <a id="DescriptionItem" class="AddCart" href="index.html">
              ADD TO CART
        </a>
    </div>
    <img id="icon" src="/static/creditcards.png">
    <p id="footer"> <a href="https://github.com/felipesandoval11">
          © Felipe Sandoval
        </a>
    </p>
  </body>
</html>
