<!--  ART SHOP for LTAW.
      Made by Felipe Sandoval.
-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ARTSHOP - SHOP ART ONLINE</title>
    <link rel="stylesheet" href="/static/micss.css">
    <script src="{% static 'client.js' %}"></script>
  </head>
  <body onload="main()">
    <div class="sticky">
      <h1 id="mainTitle" style="font-size:6vw"> ART SHOP <h1>
      <a href="./index.html"><img class="ecom" id="ecom1" src="/static/home.png"></a>
      <a href="./index.html"><img class="ecom" id="ecom2" src="/static/cart.png"></a>
      <a href="./list"><img class="ecom" id="ecom3" src="/static/search.png"></a>
    </div>
      <div id="diff1">
        <a href="./vertical.html">ESCULTURAS VERTICALES</a> &nbsp; &nbsp; &nbsp;
        <a href="./cuadrados.html">ESCULTURAS CUADRADOS</a> &nbsp; &nbsp; &nbsp;
        <a href="./pared.html">ESCULTURAS DE PARED</a> &nbsp; &nbsp; &nbsp;
      </div>
    <table style="width:100%">
      <tr>
        <td>
          <a href="art05">
            <img id="vert" class="product" src="/static/art5.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART V</p>
        </td>
        <td>
          <a href="art06">
            <img id="vert" class="product" src="/static/art6.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART VI</p>
        </td>
        <td>
          <a href="art07">
            <img id="vert" class="product" src="/static/art7.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART VII</p>
        </td>
        <td>
          <a href="art08">
            <img id="vert" class="product" src="/static/art8.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART VIII</p>
        </td>
      </tr>
    </table>

    <img id="icon" src="/static/creditcards.png">
    <p id="footer"> <a href="https://github.com/felipesandoval11">
          © Felipe Sandoval
        </a>
    </p>
  </body>
</html>
