<!--  ART SHOP for LTAW.
      Made by Felipe Sandoval.
-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ARTSHOP - SHOP ART ONLINE</title>
    <link rel="stylesheet" href="/static/micss.css">
  </head>
  <body>
    <div class="sticky">
      <h1 id="mainTitle" style="font-size:6vw"> ART SHOP <h1>
      <a href="./index.html"><img class="ecom" id="ecom1" src="/static/home.png"></a>
      <a href="./list.html"><img class="ecom" id="ecom2" src="/static/cart.png"></a>
      <a href="./index.html"><img class="ecom" id="ecom3" src="/static/search.png"></a>
    </div>
    <table style="width:100%">
      <tr>
        <td>
          <a href="./art1.html">
            <img id="vert" class="product" src="/static/art1.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART I</p>
        </td>
        <td>
          <a href="./art2.html">
            <img id="vert" class="product" src="/static/art2.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART II</p>
        </td>
        <td>
          <a href="./art3.html">
            <img id="vert" class="product" src="/static/art3.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART III</p>
        </td>
        <td>
          <a href="./art4.html">
            <img id="vert" class="product" src="/static/art4.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART IV</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="./art5.html">
            <img id="vert" class="product" src="/static/art5.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART V</p>
        </td>
        <td>
          <a href="./art6.html">
            <img id="vert" class="product" src="/static/art6.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART VI</p>
        </td>
        <td>
          <a href="art7.html">
            <img id="vert" class="product" src="/static/art7.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART VII</p>
        </td>
        <td>
          <a href="art8.html">
            <img id="vert" class="product" src="/static/art8.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART VIII</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="art9.html">
            <img id="vert" class="product" src="/static/art9.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART IX</p>
        </td>
        <td>
          <a href="art10.html">
            <img id="vert" class="product" src="/static/art10.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART X</p>
        </td>
        <td>
          <a href="art11.html">
            <img id="vert" class="product" src="/static/art11.jpg">
          </a>
            <p id="Description" style="font-size:1.4vw">BAZART XI</p>
        </td>
        <td>
          <a href="art12.html">
            <img id="vert" class="product" src="/static/art12.jpg">
          </a>
          <p id="Description" style="font-size:1.4vw">BAZART XII</p>
        </td>
      </tr>
    </table>

    <iframe class="footerVideo" width="560" height="315"
      src="https://www.youtube.com/embed/VjnTS7JphVE?autoplay=1&loop=1">
    </iframe>

    <img id="icon" src="/static/creditcards.png">
    <p id="footer"> <a href="https://github.com/felipesandoval11">
          © Felipe Sandoval
        </a>
    </p>
  </body>
</html>
